@model BE.Mensaje

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var etiquetas = (Dictionary<object, object>)Session["EtiquetasIDIOMA"];
}

<h2>@etiquetas["Eliminar"].ToString()</h2>


<div>
    <h4>Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @etiquetas["Nombre"].ToString()
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            String 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.string1)
        </dd>

        <dt>
            String 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.string2)
        </dd>

        <dt>
            String 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.string3)
        </dd>

        <dt>
            String 4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.string4)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@etiquetas["Eliminar"].ToString() class="btn btn-default" /> |
            @Html.ActionLink(etiquetas["Volver"].ToString(), "Index")
        </div>
    }
</div>
